apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: api
  namespace: argocd
spec:
  destinations:
  - name: '*'
    namespace: '*'
    server: https://kubernetes.default.svc
  sourceRepos:
  - git@github.com:<GITOPS_REPO>.git
---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: config
  namespace: argocd
spec:
  destinations:
  - name: '*'
    namespace: '*'
    server: https://kubernetes.default.svc
  sourceRepos:
  - '*'
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ .Values.name }}
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io/background
spec:
  project: default
  source:
    repoURL: {{ .Values.repourl }}
    targetRevision: HEAD
    path: {{ .Values.path }}
  destination:
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - Validate=true
      - CreateNamespace=false
      - PruneProgationPolicy=foreground
      - PruneLast=true


  