apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: secretstore
  namespace: external-secrets
spec:
  provider:
    aws:
      service: ParameterStore
      # define a specific role to limit access
      # to certain secrets
      role: {{ required "A role to assume is required" .Values.roleArn }}
      region: ca-west-1
      # Omit auth: since we are using PIA


--- # SSH Key for Argo to access GitOps repo---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: gitops-ssh-key
  namespace: argocd
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: secretstore
    kind: ClusterSecretStore
  target:
    name: repo-ssh-key
    template:
      engineVersion: v2
      metadata:
        labels:
          argocd.argoproj.io/secret-type: repository
      data:
        type: git
        url: git@github.com:<GITOPS_REPO>.git
        sshPrivateKey: |
          {{`{{ .sshPrivateKey }}`}}
  data:
  # checkov:skip=CKV_SECRET_6: "Base64 High Entropy String"
  - secretKey: sshPrivateKey
    remoteRef:
      key: /capstone-eks/argocd/ssh-key

--- # CA Cert for ArgoCD SSO ---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ca-secret
  namespace: argocd
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: secretstore
    kind: ClusterSecretStore
  target:
    name: ca-secret
    template:
      engineVersion: v2
      data:
        ca: |
          {{`{{ .ca }}`}}
  data:
  - secretKey: ca
    remoteRef:
      key: /capstone-eks/argocd/ca

--- # Slack Webhook URL secret for Falco Sidekick ---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: falco-slack-webhook
  namespace: falco
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: secret-store
    kind: ClusterSecretStore
  target:
    name: falco-slack-webhook
    creationPolicy: Owner
  data:
    - secretKey: webhookurl
      remoteRef:
        key: falco/slack-webhook
        property: webhookurl



